@font-face {
  font-family: 'NunitoSans';
  font-display: swap;
  src: url('./fonts/NunitoSans-ExtraLight.ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'NunitoSans';
  font-display: swap;
  src: url('./fonts/NunitoSans-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NunitoSans';
  font-display: swap;
  src: url('./fonts/NunitoSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NunitoSans';
  font-display: swap;
  src: url('./fonts/NunitoSans-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'NunitoSans';
  font-display: swap;
  src: url('./fonts/NunitoSans-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'NunitoSans';
  font-display: swap;
  src: url('./fonts/NunitoSans-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'NunitoSans';
  font-display: swap;
  src: url('./fonts/NunitoSans-Black.ttf');
  font-weight: 900;
  font-style: normal;
}
